USE [GameStore]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseGame]    Script Date: 05.05.2024 22:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PurchaseGame]
	@GameId INT,
	@PurchaserId INT,
	@StatusCode INT OUTPUT
AS
BEGIN
	IF(NOT EXISTS (SELECT * FROM Games WHERE Id = @GameId) OR NOT EXISTS (SELECT * FROM Users WHERE Id = @PurchaserId))
	BEGIN
		SET	@StatusCode = 1;
		RETURN;
	END

		DECLARE @PurchaserBalance MONEY = (SELECT Balance FROM Users WHERE Id = @PurchaserId);
		DECLARE @Price MONEY = (SELECT Price FROM Games WHERE Id = @GameId);

	IF(@PurchaserBalance < @Price)
	BEGIN
		SET	@StatusCode = 1;
		RETURN;
	END

	BEGIN TRANSACTION BuyGame
		UPDATE Users SET Balance = Balance - @Price WHERE Id = @PurchaserId;
		UPDATE Users SET Balance = Balance + @Price WHERE Id = (SELECT OwnerId FROM Teams t INNER JOIN Games g ON t.Id = g.TeamId WHERE g.Id = @GameId);
		INSERT INTO PurchasedGames (GameId, UserId) VALUES (@GameId, @PurchaserId);
	COMMIT;

	SET	@StatusCode = 0;
END
