CREATE FUNCTION [dbo].[IsMemberOfTeam]
(
	@TeamId INT,
	@UserId INT
)
RETURNS BIT
AS
BEGIN
	DECLARE MembersCursor SCROLL CURSOR FOR (SELECT UserId AS Id FROM TeamMembers WHERE TeamId = @TeamId);
	DECLARE @CurrentMemberId INT = 0;
	DECLARE @IsDev BIT = 0;

	OPEN MembersCursor;

	WHILE @@FETCH_STATUS = 0 AND @IsDev = 0
	BEGIN
		FETCH NEXT FROM MembersCursor INTO @CurrentMemberId;

		IF(@CurrentMemberId = @UserId)
			SET @IsDev = 1;
	END

	CLOSE MembersCursor;
	DEALLOCATE MembersCursor;

	RETURN @IsDev;
END
