CREATE FUNCTION [dbo].[IsOwnerOfGame]
(
	@GameId INT,
	@UserId INT
)
RETURNS bit
AS
BEGIN
	DECLARE @OwnerId INT = (SELECT OwnerId AS Id FROM Teams t INNER JOIN Games g ON t.Id = g.TeamId WHERE g.Id = @GameId);

	IF(@OwnerId = @UserId)
		RETURN 1;

	RETURN 0;
END