USE [GameStore]
GO
/****** Object:  UserDefinedFunction [dbo].[IsOwnerOfGame]    Script Date: 06.05.2024 23:01:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION IsOwnerOfTeam
(
	@TeamId INT,
	@UserId INT
)
RETURNS bit
AS
BEGIN
	DECLARE @OwnerId INT = (SELECT OwnerId AS Id FROM Teams WHERE Id = @TeamId);

	IF(@OwnerId = @UserId)
		RETURN 1;

	RETURN 0;
END